.section-process {
    --row-height: 12rem;
    --tab-height: 3rem;
    --stagger-step: 10%;
}

.process-row {
    display: flex;
    align-items: stretch;
    margin-bottom: 1rem;
    height: var(--row-height); 
    margin-bottom: 2rem;
}

.process-row:nth-child(2) { margin-left: var(--stagger-step); }
.process-row:nth-child(3) { margin-left: calc(var(--stagger-step) * 2); }

.section-process .img-container {
    width: var(--row-height);
    padding: 0.5rem;
    height: 100%;
    z-index: 2;
    margin-right: -1px;
}

.section-process .content-stack {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-process h3 {
    height: 2.5rem;
    width: var(--row-height);
    justify-content: center;
    display: flex;
    align-items: center; 
    margin: 0;
    border-bottom: none;
    position: relative;
    z-index: 3;
    top: 1px;
}

.content-stack p {
    flex-grow: 1; 
    justify-content: center;
    margin: 0;
    background-color: transparent;
    position: relative;
    z-index: 1;
    padding: 1rem;
}

@media (max-width: 768px) {
    .process-row {
        flex-direction: column;
        min-height: auto;
    }
    .process-row:nth-child(n) { margin-left: 0; }
    
    .icon-box {
        width: 120px;
        aspect-ratio: auto; 
        height: 120px;
        margin-bottom: -1px;
    }
    
    .content-stack h3 {
        width: 100%;
    }
}